<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.patient.FullName}}'s Profile</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1>{{.patient.FullName}}'s Profile</h1>
        <p>Email: {{.patient.Email}}</p>
        <p>CPF: {{.patient.CPF}}</p>
        <p>Phone Number: {{.patient.PhoneNumber}}</p>

        <h2>Health Posts</h2>
        <div class="card">
            <div class="card-body">
                
                {{range .healthPosts}}
                <div class="mb-3">
                    <p class="card-text">{{.Content}}</p>
                    <small class="text-muted">{{.Timestamp.Format "Mon, Jan 2, 2006 15:04:05"}}</small>
                </div>
                {{end}}
            </div>

        <h2 class="mt-3">Add Health Post</h2>
        <form action="/add-health-post/{{.patient.ID.Hex}}" method="post">
            <div class="form-group">
                <textarea class="form-control" name="content" rows="4" placeholder="Enter your health post here" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Post</button>
        </form>
    </div>
</body>
</html>


